body {
  font-family: "Inter", sans-serif;
  color: #344765;
  font-size: 14px;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  align-items: center;
}

.ml {
  margin-left: 6px;
}
